﻿@using PSoft.EfTest.DataAccess.EFDB
@model PSoft.EfTest.DataAccess.EFDB.User_Info

@{
    ViewBag.Title = "AddEdit";
    Layout = null;
}
@*<h2>Add Edit User</h2>*@

<div >
    <div class="form-horizontal">

        <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." ng-model="SelectedUser.Id" name="Id" type="hidden" value="" />

        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" ng-model="SelectedUser.Name" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Password">Password</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" ng-model="SelectedUser.Password"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Email">Email</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" ng-model="SelectedUser.Email" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CountryId">Country</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" ng-model="SelectedUser.CountryId"/>
                <select ng-change="generateName()" ng-model="SelectedUser.CountryId"
                        ng-options="option.Id as option.Name for option in CountryList" ng-init="" class="form-control">
                    <option value="" label="" class="">---Select One---</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StatusEnumId">Status</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <input class="check-box" ng-model="SelectedUser.StatusEnumId" type="checkbox" value="true"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="GenderEnumId">Gender</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" ng-model="SelectedUser.GenderEnumId"/>
                <select ng-change="generateName()" ng-model="SelectedUser.GenderEnumId"
                        ng-options="option.Id as option.Name for option in GenderEnumList" ng-init="" class="form-control">
                    <option value="" label="" class="">---Select One---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="JoinData">JoinData</label>
            <div class="col-md-10">
                <div class="input-group datetimepicker" id="datetimepicker">
                    <input class="form-control text-box single-line" ng-model="SelectedUser.JoinDateString" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
               
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="button" ng-click="saveUser()" value="Save" class="btn btn-success"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div>

</div>


@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".datetimepicker").datetimepicker(
            {
                defaultDate: '@Model.JoinData',
                showTodayButton: true,
                format: 'DD-MM-YYYY HH:mm',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top',
                stepping: 15
            });
        });
    </script>


}


