﻿@model IEnumerable<PSoft.EfTest.DataAccess.EFDB.User_Info>

@{
    ViewBag.Title = "List";
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
        <th>
            Email
        </th>
       <th>
           CountryId
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Country)
        </th>*@
        @*<th>
           @Html.DisplayNameFor(model => model.StatusEnumId)
           Is Active
        </th>*@
        <th>
          Gender
        </th>
        <th></th>
    </tr>


    <tr ng-repeat="row in UserList">
        <td>
            {{row.Name}}
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => user.Password)
        </td>*@
        <td>
            {{row.Email}}
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => user.CountryId)
        </td>*@
        <td>
            @*@Html.DisplayFor(modelItem =>Country.Name)*@
            {{row.CountryId}}
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => user.StatusEnumId)
        </td>*@
        <td>
            @*@Html.DisplayFor(modelItem => user.Gender)*@
            {{row.GenderEnumId}}
        </td>
        <td>
            <button type="button" class="btn btn-info btn-sm"  ng-click="selectUser(row)"  data-toggle="modal" data-target="#myModal">Edit</button>
            |
            <button type="button" ng-click="DeleteById(row.Id)" class="btn btn-danger  btn-sm" >Delete </button>


        </td>
    </tr>


</table>
