﻿
@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}

<div ng-controller="User_InfoCtrl" ng-init="getUserList()">
    <h2>User Manager : {{Test}}</h2>

    <div class="form-group">
        <button type="button" ng-click="reloadUserList()" value="" class="btn btn-default"><i class="fa fa-refresh"></i> Reload</button>
        <button type="button" ng-click="getNewUser()" value="" class="btn btn-success" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add New</button>
    </div>
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                CountryId
            </th>
            <th>
                StatusEnumId
            </th>
            <th>
                Gender
            </th>
            <th></th>
        </tr>
        <tr ng-repeat="row in UserList">
            <td>
                {{row.Id}}
            </td>
            <td>
                {{row.Name}}
            </td>
            <td>
                {{row.Email}}
            </td>
            <td>
                {{row.CountryId}} {{row.CountryName}}
                <span ng-repeat="user in row.Country.User_Info">

                    Name: {{user.Name}}<br/>
                </span>
            </td>
            <td>
                {{row.StatusEnumId}}
            </td>
            <td>
                {{row.GenderEnumId}} {{row.Gender}}
            </td>
            <td>
                <button type="button" class="btn btn-info btn-sm" ng-click="getUserById(row.Id,$index)" data-toggle="modal" data-target="#myModal">Edit</button>
                |
                <button type="button" class="btn btn-info btn-sm" ng-click="selectUser(row)" data-toggle="modal" data-target="#myModal">Edit</button>

                <button type="button" ng-click="selectUser(row)" class="btn btn-danger  btn-sm">Delete </button>
            </td>
        </tr>


    </table>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Edit User</h4>
                </div>
                <div class="modal-body">
                    <div class="formView">
                        @Html.Action("AddEdit", "UserAngular")
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>

        </div>
    </div>
</div>
@section scripts
{

    <script>
        $(document).ready(function () {
            //LoadList();
        });
        var log = function log(msg) {
            console.log(msg);
        }


        myApp.controller('User_InfoCtrl', function ($scope, $http) {
            $scope.Test = "TestUser";
            $scope.SelectedUser = [];
            $scope.SelectedIndex = -1;
            $scope.UserList = [];

            $scope.getUserListUrl = "http://localhost:5406/UserAngular/GetUserList";
            $scope.getUserByIdUrl = "http://localhost:5406/UserAngular/GetUserById";
            $scope.saveUserUrl = "http://localhost:5406/UserAngular/Save";
            $scope.deleteUserByIdUrl = "http://localhost:5406/UserAngular/Delete";


            $scope.reloadUserList = function () {
                $scope.getUserList();
            };
            $scope.getUserList = function () {
                $http.get($scope.getUserListUrl) //
                    .success(function (result) {
                        if (!result.HasError) {
                            $scope.UserList = result.Data;
                            //log(result.Data);
                            //console.log($scope.UserList);
                        } else {
                            $scope.HasError = true;
                            $scope.ErrorMsg = "Unable to get User list ! " + result.Errors.toString();
                            alert($scope.ErrorMsg);
                        }
                    }).error(function (result, status) {
                        $scope.HasError = true;
                        $scope.ErrorMsg = "Unable to get User list! " + "Status: " + JSON.stringify(status).toString() + ". " + JSON.stringify(result).toString();
                        alert($scope.ErrorMsg);
                    });
            };

            $scope.selectUser = function (user) {
                $scope.SelectedUser = user;
            };
            $scope.getNewUser = function () {
                $scope.getUserById(0, -1);
            };
            $scope.getUserById = function (userId, index) {
                $scope.SelectedIndex = index;
                if (userId != null && userId !== '')
                    $scope.UserId = userId;
                else return;

                $http.get($scope.getUserByIdUrl, {
                    params: { "id": $scope.UserId }
                }).success(function (result, status) {
                    if (!result.HasError) {
                        $scope.HasError = false;
                        $scope.CountryList = result.DataBag.CountryList;
                        $scope.GenderEnumList = result.DataBag.GenderEnumList;
                        $scope.SelectedUser = result.Data;

                    } else {
                        $scope.HasError = true;
                        $scope.ErrorMsg = "Unable to get User! " + result.Errors.toString();
                        alert($scope.ErrorMsg);
                    }
                }).error(function (result, status) {
                    $scope.HasError = true;
                    $scope.ErrorMsg = "Unable to get User! " + JSON.stringify(result) + ". " + "Status: " + JSON.stringify(status);
                    alert($scope.ErrorMsg);
                });
            };
            $scope.saveUser = function () {
                if (!$scope.validateUser()) {
                    return;
                }
                $http.post($scope.saveUserUrl + "/", $scope.SelectedUser).
                    success(function (result, status) {
                        if (!result.HasError) {
                            $scope.HasError = false;
                            if (result.Data != null) {
                                $scope.SelectedUser = result.Data;

                                if ($scope.SelectedIndex > -1) {
                                    $scope.UserList[$scope.SelectedIndex] = $scope.SelectedUser;
                                } else {
                                    $scope.UserList.push($scope.SelectedUser);
                                }
                                //$scope.RoomList.splice(i, 1);
                            }
                            alert("Successfully saved User data!");
                        } else {
                            $scope.HasError = true;
                            $scope.ErrorMsg = "Unable to save User! " + result.Errors.toString();
                            alert($scope.ErrorMsg);
                        }
                    }).
                    error(function (result, status) {
                        $scope.HasError = true;
                        $scope.ErrorMsg = "Unable to save User! " + JSON.stringify(result) + ". " + "Status: " + JSON.stringify(status);
                        alert($scope.ErrorMsg);
                    });
            };

            $scope.deleteUser = function (obj) {
                var ans = confirm("Are you sure, you want delete this user?");
                if (ans == true) {
                    //"You pressed OK!";
                    if (obj == null) {
                        alert("Please select a row to delete!");
                    }

                    $http.get($scope.deleteUserByIdUrl, {
                        params: { "id": obj.Id }
                    }).success(function (result, status) {
                        if (!result.HasError) {
                            $scope.HasError = false;

                            var i = $scope.UserList.indexOf(obj);
                            $scope.UserList.splice(i, 1);

                        } else {
                            $scope.HasError = true;
                            $scope.ErrorMsg = "Unable to delete User! " + result.Errors.toString();
                            alert($scope.ErrorMsg);
                        }
                    }).error(function (result, status) {
                        $scope.HasError = true;
                        $scope.ErrorMsg = "Unable to delete User! " + JSON.stringify(result) + ". " + "Status: " + JSON.stringify(status);
                        alert($scope.ErrorMsg);
                    });
                }
            };
            $scope.validateUser = function () {
                return true;
            };
        });

    </script>



}
