﻿@model IEnumerable<PSoft.EfTest.DataAccess.EFDB.User_Info>

@{
    ViewBag.Title = "List";
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CountryId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        @*<th>
           @Html.DisplayNameFor(model => model.StatusEnumId)
           Is Active
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var user in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => user.Name)
            <span>@(user.Id+2)</span>

        </td>
        @*<td>
            @Html.DisplayFor(modelItem => user.Password)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => user.Email)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => user.CountryId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => user.Country.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => user.StatusEnumId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => user.Gender)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "AddEdit", new { id=user.Id })*@
            @*<input type="button" onclick="LoadForm(@user.Id)" value="Edit" class="btn btn-default" />*@
            @*@Html.ActionLink("Delete", "Delete", new { id=user.Id })*@
            <button type="button" class="btn btn-info btn-sm"  onclick="LoadForm(@user.Id)"  data-toggle="modal" data-target="#myModal">Edit</button>
            |
            <button type="button" onclick="DeleteById(@user.Id)" class="btn btn-danger  btn-sm" >Delete </button>


        </td>
    </tr>
}

</table>
