﻿
@{
    ViewBag.Title = "User Manager";
}

<h2>User Manager</h2>

<div class="form-group">
    <button type="button" onclick="LoadList()" value="" class="btn btn-default"><i class="fa fa-refresh"></i> Reload</button>
    <button type="button" onclick="LoadForm(1)" value="" class="btn btn-success" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add New</button>
</div>

<div id="listView">

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Edit User</h4>
            </div>
            <div class="modal-body">
                <div class="formView">
                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>

    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            LoadList();
        });
        var LoadList = function () {
            $.get("@Url.Action("List", "UserAjax")", function (result) {
                $("#listView").html(result);
            }).done(function (result) {
                // alert("Data Loaded: " + data);
            }).fail(function (result) {
                alert("User List Loading Failed!");
            });
        }
        var LoadForm = function (id) {
            $.get("@Url.Action("AddEdit", "UserAjax")/" + id, function (data) {
                $(".formView").html(data);
            }).done(function (result) {
                // alert("Data Loaded: " + data);
            }).fail(function (result) {
                $(".formView").html("User data loading failed!");
                alert("User data loading failed!");
            });
        }

        var SaveUser = function () {
            var User = {
                Name: $("#Name").val(),
                Id: $("#Id").val(),
                Password: $("#Password").val(),
                Email: $("#Email").val(),
                CountryId: $("#CountryId").val(),
                StatusEnumId: $("#StatusEnumId").val(),
                GenderEnumId: $("#GenderEnumId").val(),
                JoinDateString: $("#JoinDateString").val()
            }
            console.log(User);
            $.post("@Url.Action("Save", "UserAjax")", User)
                .done(function (result) {
                    if (!result.HasError) {
                        LoadList();
                        console.log(result);
                        $("#Id").val(result.Data);
                        alert("User saved Successfull.");//,
                        LoadList();
                    } else {
                        alert("Attention please! User saving failed. " + result.Data);
                    }
                }).fail(function (result, status) {
                    alert("Attention please! User saving failed! " + JSON.stringify(result) + JSON.stringify(status));
                });
        }

        var DeleteById = function (id) {
            var ans = confirm("Are you sure, you want delete this user?");
            if (ans == true) {
                //"You pressed OK!";
                $.get("@Url.Action("Delete", "UserAjax")/" + id)
                    .done(function (data) {
                        console.log(data);
                        if (data == "True") {
                            alert("User Deleted Successfull.");//, { name: "John", time: "2pm" }
                            LoadList();
                        } else {
                            alert("Sorry User Deleting not Successfull.");
                        }
                    }).fail(function (result) {
                        alert("User deleting Failed! " + JSON.stringify(result));
                    });
            } else {
                //txt = "You pressed Cancel!";
            }
        }


    </script>


}

