﻿
@{
    Layout = null;
}

<?xml version="1.0" ?>
<response>
    <status>0</status>
    <whois_server>whois.publicdomainregistry.com</whois_server>
    <whois_name>PublicDomainRegistry</whois_name>
    <status_desc>Successfully processed</status_desc>
    <limit_hit />
    <registered>1</registered>
    <whois_raw>
        Domain Name: WHOAPI.COM
        Registry Domain ID: 1640154939_DOMAIN_COM-VRSN
        Registrar WHOIS Server: whois.publicdomainregistry.com
        Registrar URL: www.publicdomainregistry.com
        Updated Date: 2016-04-26T17:42:17Z
        Creation Date: 2011-02-14T15:31:26Z
        Registrar Registration Expiration Date: 2021-02-14T15:31:26Z
        Registrar: PDR Ltd. d/b/a PublicDomainRegistry.com
        Registrar IANA ID: 303
        Domain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited
        Registry Registrant ID: Not Available From Registry
        Registrant Name: Goran Duskic
        Registrant Organization: WhoAPI Inc.
        Registrant Street: 444 Castro Street
        Registrant City: Mountain View
        Registrant State/Province: California
        Registrant Postal Code: 94041
        Registrant Country: US
        Registrant Phone: +1.6507411223
        Registrant Phone Ext:
        Registrant Fax:
        Registrant Fax Ext:
        Registrant Email: contact@whoapi.com
        Registry Admin ID: Not Available From Registry
        Admin Name: Goran Duskic
        Admin Organization: WhoAPI Inc.
        Admin Street: 444 Castro Street
        Admin City: Mountain View
        Admin State/Province: California
        Admin Postal Code: 94041
        Admin Country: US
        Admin Phone: +1.6507411223
        Admin Phone Ext:
        Admin Fax:
        Admin Fax Ext:
        Admin Email: contact@whoapi.com
        Registry Tech ID: Not Available From Registry
        Tech Name: Goran Duskic
        Tech Organization: WhoAPI Inc.
        Tech Street: 444 Castro Street
        Tech City: Mountain View
        Tech State/Province: California
        Tech Postal Code: 94041
        Tech Country: US
        Tech Phone: +1.6507411223
        Tech Phone Ext:
        Tech Fax:
        Tech Fax Ext:
        Tech Email: contact@whoapi.com
        Name Server: ns1.first-ns.de
        Name Server: robotns2.second-ns.de
        Name Server: robotns3.second-ns.com
        DNSSEC:Unsigned
        Registrar Abuse Contact Email: abuse-contact@publicdomainregistry.com
        Registrar Abuse Contact Phone: +1.2013775952
        URL of the ICANN WHOIS Data Problem Reporting System: http://wdprs.internic.net/
        &gt;&gt;&gt; Last update of WHOIS database: 2017-07-17T09:15:15Z &lt;&lt;&lt;

        For more information on Whois status codes, please visit https://icann.org/epp

        Registration Service Provided By: PAMETNI UPITI D.O.O.

        The data in this whois database is provided to you for information purposes
        only, that is, to assist you in obtaining information about or related to a
        domain name registration record. We make this information available "as is",
        and do not guarantee its accuracy. By submitting a whois query, you agree
        that you will use this data only for lawful purposes and that, under no
        circumstances will you use this data to:
        (1) enable high volume, automated, electronic processes that stress or load
        this whois database system providing you this information; or
        (2) allow, enable, or otherwise support the transmission of mass unsolicited,
        commercial advertising or solicitations via direct mail, electronic mail, or
        by telephone.
        The compilation, repackaging, dissemination or other use of this data is
        expressly prohibited without prior written consent from us. The Registrar of
        record is PDR Ltd. d/b/a PublicDomainRegistry.com.
        We reserve the right to modify these terms at any time.
        By submitting this query, you agree to abide by these terms.


    </whois_raw>
    <disclaimer />
    <premium />
    <generic_whois>1</generic_whois>
    <date_created>2011-02-14 00:00:00</date_created>
    <date_expires>2021-02-14 15:31:26</date_expires>
    <date_updated>2016-04-26 17:42:17</date_updated>
    <domain_status>
        <item0>clienttransferprohibited https://icann.org/epp#clienttransferprohibited</item0>
    </domain_status>
    <nameservers>
        <item0>ns1.first-ns.de</item0>
        <item1>robotns2.second-ns.de</item1>
        <item2>robotns3.second-ns.com</item2>
    </nameservers>
    <emails>
        <item0>contact@whoapi.com</item0>
        <item1>abuse-contact@publicdomainregistry.com</item1>
    </emails>
    <whois_raw_parent>
        &#xD;
        Whois Server Version 2.0&#xD;
        &#xD;
        Domain names in the .com and .net domains can now be registered&#xD;
        with many different competing registrars. Go to http://www.internic.net&#xD;
        for detailed information.&#xD;
        &#xD;
        Domain Name: WHOAPI.COM&#xD;
        Registrar: PDR LTD. D/B/A PUBLICDOMAINREGISTRY.COM&#xD;
        Sponsoring Registrar IANA ID: 303&#xD;
        Whois Server: whois.PublicDomainRegistry.com&#xD;
        Referral URL: http://www.publicdomainregistry.com&#xD;
        Name Server: NS1.FIRST-NS.DE&#xD;
        Name Server: ROBOTNS2.SECOND-NS.DE&#xD;
        Name Server: ROBOTNS3.SECOND-NS.COM&#xD;
        Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited&#xD;
        Updated Date: 17-dec-2013&#xD;
        Creation Date: 14-feb-2011&#xD;
        Expiration Date: 14-feb-2021&#xD;
        &#xD;
        &gt;&gt;&gt; Last update of whois database: 2017-07-17T09:15:01Z &lt;&lt;&lt;&#xD;
        &#xD;
        For more information on Whois status codes, please visit https://icann.org/epp&#xD;
        &#xD;
        NOTICE: The expiration date displayed in this record is the date the&#xD;
        registrar's sponsorship of the domain name registration in the registry is&#xD;
        currently set to expire. This date does not necessarily reflect the expiration&#xD;
        date of the domain name registrant's agreement with the sponsoring&#xD;
        registrar.  Users may consult the sponsoring registrar's Whois database to&#xD;
        view the registrar's reported date of expiration for this registration.&#xD;
        &#xD;
        TERMS OF USE: You are not authorized to access or query our Whois&#xD;
        database through the use of electronic processes that are high-volume and&#xD;
        automated except as reasonably necessary to register domain names or&#xD;
        modify existing registrations; the Data in VeriSign Global Registry&#xD;
        Services' ("VeriSign") Whois database is provided by VeriSign for&#xD;
        information purposes only, and to assist persons in obtaining information&#xD;
        about or related to a domain name registration record. VeriSign does not&#xD;
        guarantee its accuracy. By submitting a Whois query, you agree to abide&#xD;
        by the following terms of use: You agree that you may use this Data only&#xD;
        for lawful purposes and that under no circumstances will you use this Data&#xD;
        to: (1) allow, enable, or otherwise support the transmission of mass&#xD;
        unsolicited, commercial advertising or solicitations via e-mail, telephone,&#xD;
        or facsimile; or (2) enable high volume, automated, electronic processes&#xD;
        that apply to VeriSign (or its computer systems). The compilation,&#xD;
        repackaging, dissemination or other use of this Data is expressly&#xD;
        prohibited without the prior written consent of VeriSign. You agree not to&#xD;
        use electronic processes that are automated and high-volume to access or&#xD;
        query the Whois database except as reasonably necessary to register&#xD;
        domain names or modify existing registrations. VeriSign reserves the right&#xD;
        to restrict your access to the Whois database in its sole discretion to ensure&#xD;
        operational stability.  VeriSign may restrict or terminate your access to the&#xD;
        Whois database for failure to abide by these terms of use. VeriSign&#xD;
        reserves the right to modify these terms at any time.&#xD;
        &#xD;
        The Registry database contains ONLY .COM, .NET, .EDU domains and&#xD;
        Registrars.&#xD;
    </whois_raw_parent>
    <contacts>
        <item0>
            <type>registrar</type>
            <name />
            <organization>PDR Ltd. d/b/a PublicDomainRegistry.com</organization>
            <phone>+1.2013775952</phone>
            <email>abuse-contact@publicdomainregistry.com</email>
            <full_address />
        </item0>
        <item1>
            <type>registrant</type>
            <name>Goran Duskic</name>
            <organization>WhoAPI Inc.</organization>
            <street>444 Castro Street</street>
            <city>Mountain View</city>
            <zipcode>94041</zipcode>
            <state>California</state>
            <country>US</country>
            <phone>+1.6507411223</phone>
            <fax />
            <email>contact@whoapi.com</email>
            <full_address>444 Castro Street, Mountain View, 94041, California, US</full_address>
        </item1>
        <item2>
            <type>admin</type>
            <name>Goran Duskic</name>
            <organization>WhoAPI Inc.</organization>
            <street>444 Castro Street</street>
            <city>Mountain View</city>
            <zipcode>94041</zipcode>
            <state>California</state>
            <country>US</country>
            <phone>+1.6507411223</phone>
            <fax />
            <email>contact@whoapi.com</email>
            <full_address>444 Castro Street, Mountain View, 94041, California, US</full_address>
        </item2>
        <item3>
            <type>tech</type>
            <name>Goran Duskic</name>
            <organization>WhoAPI Inc.</organization>
            <street>444 Castro Street</street>
            <city>Mountain View</city>
            <zipcode>94041</zipcode>
            <state>California</state>
            <country>US</country>
            <phone>+1.6507411223</phone>
            <fax />
            <email>contact@whoapi.com</email>
            <full_address>444 Castro Street, Mountain View, 94041, California, US</full_address>
        </item3>
    </contacts>
    <domain_name>whoapi.com</domain_name>
    <_cached />
    <requests_available>100</requests_available>
</response>
